@charset "utf-8";
/* ----------------------------------------- */
@keyframes d-blink {
    0% {
        -webkit-transform: scale(100%);
        transform: scale(100%);
    }

    100% {
        -webkit-transform: scale(60%);
        transform: scale(60%);
    }
}
/* ------------------------------------------ */


@keyframes cloud1 {
    0% {
        -webkit-margin-top: 0;
        margin-top: 0;
    }

    50% {
        -webkit-margin-top: 20px;
        margin-top: 20px;
    }

    0% {
        -webkit-margin-top: 0;
        margin-top: 0px;
    }
}

@keyframes cloud2 {
    0% {
        -webkit-margin-top: 0;
        margin-top: 0;
    }

    50% {
        -webkit-margin-top: -15px;
        margin-top: -15px;
    }

    0% {
        -webkit-margin-top: 0;
        margin-top: 0;
    }
}
/* ----------------------------------------- */











/* ------------------------------------------- */
@-webkit-keyframes shake-br {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}

@keyframes shake-br {

    0%,
    100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
    }

    10% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        -webkit-transform: rotate(4deg);
        transform: rotate(4deg);
    }

    80% {
        -webkit-transform: rotate(-2deg);
        transform: rotate(-2deg);
    }

    90% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg);
    }
}
.shake-br {
	-webkit-animation: shake-br 2s steps(2, start) infinite both;
	        animation: shake-br 2s steps(2, start) infinite both;
}

/**
 * ----------------------------------------
 * animation shake-bl
 * ----------------------------------------
 */
 @-webkit-keyframes shake-bl {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bl {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 0 100%;
              transform-origin: 0 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  

.shake-bl {
	-webkit-animation: shake-bl 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bl 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}


/* ----------------------------------------------
 * Generated by Animista on 2022-1-16 21:18:22
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
 @-webkit-keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(3px);
              transform: translateX(3px);
    }
    90% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }
  @keyframes shake-horizontal {
    0%,
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
      -webkit-transform: translateX(-5px);
              transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
      -webkit-transform: translateX(5px);
              transform: translateX(5px);
    }
    80% {
      -webkit-transform: translateX(3px);
              transform: translateX(3px);
    }
    90% {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px);
    }
  }
  
.shake-horizontal {
	-webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
	        animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}
/* ----------------------------------------- */

@keyframes boomboom {

  100%,
  0% {
    -webkit-animation:  opacity 0.8;
      opacity: 0.8;
      -webkit-animation:  transform scale(100%);
      transform: scale(100%);
  }

  70%,
  30% {
    -webkit-animation:  opacity 1;
      opacity: 1; 
      -webkit-animation:  transform scale(105%);
       transform: scale(105%);
  }

  50% {
    -webkit-animation:  opacity 1;
      opacity: 0.9;
      -webkit-animation:  transform scale(102.5%);
      transform: scale(102.5%);
  }
}

/* -------------------------------------- */

@keyframes boomboompow {

  100%,
  0% {
      -webkit-animation:  transform scale(100%);
      transform: scale(100%);
  }

  70%,
  30% {
      -webkit-animation:  transform scale(106%);
       transform: scale(106%);
  }

  50% {
      -webkit-animation:  transform scale(103%);
      transform: scale(103%);
  }
}
/* --------------------- */
/* ----------------------------------------------
 * Generated by Animista on 2022-1-17 21:39:39
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
     -webkit-transform: opacity 0;
            transform: translateY(100px);
            opacity: 0;
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
     -webkit-transform: opacity 0;
            transform: translateY(100px);
            opacity: 0;
  }
}

.slide-bottom {
	-webkit-animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
	        animation: slide-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}